.alerts {
    font-size: 14px;
    .header {
        display: flex;
        align-items: flex-end;
        p {
            margin: 0;
            flex: 1;
            font-size: 26px;
        }
        button {
            font-size: 14px;
            padding: 10px 25px;
            span {
                margin-right: 15px;
            }
        }
    }
    .table-row {
        display: flex;
        border-bottom: 1px solid $border-color;
        &:last-child {
            border-bottom: none;
        }
        div {
            flex: 1;
            &.actions-cell {
                max-width: 80px;
                text-align: center;
            }
        }
    }
}