.filter-input {
    display: flex;
    height: 55px;
    padding: 5px 0 5px 20px;
    background-color: #EEF4F6;
    border-radius: 5px;
    position: relative;
    input {
        flex: 1;
        border: none;
        outline: none;
        background-color: transparent;
        &::placeholder {
            color: $secondary;
        }
    }
    .btn {
        height: 45px;
        border-radius: 2px;
    }
    .suggestions {
        position: absolute;
        top: 55px;
        left: 0;
        right: 0;
        list-style: none;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
        padding-left: 0;
        li {
            padding-left: 20px;
            height: 32px;
            line-height: 32px;
            cursor: pointer;
            &.active {
                background-color: #EEF4F6;
            }
            &:hover {
                background-color: #EEF4F6;
            }
        }
    }
}
.filter {
    display: inline-block;
    margin-right: 20px;
    padding: 10px;
    height: 45px;
    background-color: white;
    border-radius: 5px;
    color: $dark;
    border: 1px solid #E5E5E5;
    button {
        margin-left: 10px;
        padding: 0;
        width: 15px;
        height: 15px;
        background-color: transparent;
        font-weight: bold;
        cursor: pointer;
        border: none;
        outline: none;
        color: $dark;
        &::after{
            content: 'x';
        }
    }
}
.clear {
    font-weight: bold;
    border-bottom: 1px solid $dark;
    padding-bottom: 2px;
    cursor: pointer;
}




  