.pagination {
    font-size: 14px;
    display: flex;
    align-items: center;
    .pages {
        flex: 1;
        button {
            border: none;
            background-color: transparent;
            color: $secondary;
            padding: 0 10px 5px 10px;
            border-bottom: 2px solid transparent;
            margin-right: 10px;
            &.selected {
                color: $dark;
                font-weight: bold;
                border-bottom: 2px solid $primary;
            }
            &:disabled {
                opacity: 0.7;
            }
        }
    }
    .go-to-page {
        color: $secondary;
        input {
            width: 30px;
            border: 1px solid $border-color;
            border-radius: 2px;
            padding-left: 5px;
            &:focus {
                outline: none;
            }
            //hide arrows for input type number
            -moz-appearance: textfield;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
        .btn {
            background: #F1F4F5;
            padding: 5px 10px;
            font-size: 14px;
        }
    }
}