@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter/Inter-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Inter Semi Bold";
    src: url("../assets/fonts/Inter/Inter-SemiBold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Inter Bold";
    src: url("../assets/fonts/Inter/Inter-Bold.ttf");
    font-weight: bolder;
    font-style: normal;
}

* {
    font-family: 'Inter';
    box-sizing: border-box;
}

.cursor-pointer {
    cursor: pointer;
}