.alerts, .incidents {
    .header {
        display: flex;
        align-items: flex-end;
        p {
            margin: 0;
            flex: 1;
        }
        button {
            width: 160px;
            height: 45px;
            span {
                margin-right: 15px;
            }
        }
    }
    .table-row {
        display: flex;
        border-bottom: 1px solid theme-color('mercury');
        &:last-child {
            border-bottom: none;
        }
        .col {
            flex: 1;
            &.actions-cell {
                max-width: 80px;
                text-align: center;
            }
        }
    }
    .incident-row, .expand {
        border-bottom: 1px solid theme-color('mercury');
        &:last-child {
            border-bottom: none;
        }
    }
    .btn-incident {
        min-width: 80px;
        height: 30px;
    }
}