.custom-modal {
    position: fixed;
    z-index: 101;
    inset: 0;
    background-color: rgba(51, 51, 51, 0.4);
    animation: fadeIn .5s;
    -webkit-animation: fadeIn .5s;
    -moz-animation: fadeIn .5s;
    &-content {
        width: 100%;
        max-width: 550px;
        background-color: white;
    }
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  