.model {
  &-form {
    max-height: 90vh;
    width: 100%;
    .btn-submit {
      border-radius: 5px;
      height: 55px;
      opacity: 0.5;
    }

    .input-group {
      position: relative;
      .form-control, .custom-select {
        min-height: 55px;
      }

      .error-icon {
        position: absolute;
        right: 20px;
        top: 17px;
        z-index: 10;
      }
    }
  }
}
