.scatterGraph {
  margin: auto !important;
  &-leftBox {
    height: 55vh;
    min-height: 400px;
  }

  &-examples {
    flex-wrap: wrap;
    min-height: 400px;
  }

  &-item {
    width: 120px;
    height: #{120 * 1.2941}px; // US letter aspect ratio
    cursor: pointer;
  }
}
