.hide-scrollbar {
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.bold-text {
    font-weight: 600 !important;
}
.custom-grid {
    position: absolute;
    inset: 0 0 4px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    hr {
        margin: 0;
    }
}

.cursor-pointer {
    cursor: pointer;
}
.cursor-grab {
    cursor: grab;
    &:active {
        cursor: grabbing;
    }
}

.hover {
    &:hover {
        background-color: theme-color('light-blue');
    }
}

a, a:not([href]), a:not([class]), a:not([href]):not([class]) {
    color: theme-color('primary');
    text-decoration: none;
    cursor: pointer;
    &:hover {
        color: currentcolor !important;
        text-decoration: underline !important;
    }
}

b {
    font-family: 'Inter Extra Bold';
}

.click-down {
    cursor: pointer;
    position: relative;
    &:active {
        top: 0.1rem;
    }
}

.disabled, :disabled {
    pointer-events: none;
    opacity: 0.3 !important;
}

.btn-secondary {
    background-color: #ffffff00;
    border: 1px solid theme-color('dark');
    color: theme-color('dark') !important;
    &:disabled {
        background: #F1F4F5 !important;
    }
}
