@font-face {
  font-family: 'Dioptra-Icons';
  src:  url('/assets/fonts/Dioptra/Dioptra-Icons.eot?csoqvs');
  src:  url('/assets/fonts/Dioptra/Dioptra-Icons.eot?csoqvs#iefix') format('embedded-opentype'),
    url('/assets/fonts/Dioptra/Dioptra-Icons.ttf?csoqvs') format('truetype'),
    url('/assets/fonts/Dioptra/Dioptra-Icons.woff?csoqvs') format('woff'),
    url('/assets/fonts/Dioptra/Dioptra-Icons.svg?csoqvs#Dioptra') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="Icon-"], [class*=" Icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Dioptra-Icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Icon-Arrow-Up:before {
  content: "\e916";
}
.Icon-Warning:before {
  content: "\e900";
}
.Icon-Alerts-Bell:before {
  content: "\e901";
}
.Icon-Arrow-Down:before {
  content: "\e902";
}
.Icon-Bin:before {
  content: "\e903";
}
.Icon-Check:before {
  content: "\e904";
}
.Icon-Close:before {
  content: "\e905";
}
.Icon-Date:before {
  content: "\e906";
}
.Icon-Edit:before {
  content: "\e907";
}
.Icon-Eye:before {
  content: "\e908";
}
.Icon-Eye-Hidden:before {
  content: "\e909";
}
.Icon-Home:before {
  content: "\e90a";
}
.Icon-Info:before {
  content: "\e90b";
}
.Icon-Plus-Minus:before {
  content: "\e90c";
}
.Icon-Models:before {
  content: "\e90d";
}
.Icon-Experimentations:before {
  content: "\e90e";
}
.Icon-Plus:before {
  content: "\e90f";
}
.Icon-PW-Changed:before {
  content: "\e910";
}
.Icon-Refresh:before {
  content: "\e911";
}
.Icon-Search:before {
  content: "\e912";
}
.Icon-Sent:before {
  content: "\e913";
}
.Icon-Setting:before {
  content: "\e914";
}
.Icon-User:before {
  content: "\e915";
}
