.breadcrumb {
  .link {
    display: flex;
    align-items: center;
    button {
      outline: none;
      border: none;
      background: transparent;
    }
    &::after {
      content: '>';
      padding: 0 5px;
    }
    &:last-child {
      &::after {
        content: '';
      }
      a {
        cursor: pointer;
      }
    }
    a {
      text-decoration: none;
    }
  }
}
