.breadcrumb {
    .link {
        &::after {
            content: '>';
            padding: 0 5px;
        }
        &:last-child {
            opacity: 0.5;
            &::after {
                content: '';
            }
            a {
                cursor: auto;
            }
        }
        a {
            text-decoration: none;
        }
    }
}