.checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    input {
        height: 15px;
        width: 15px;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        appearance: none;
        border: 1px solid $border-color;
        border-radius: 2px;
        outline: none;
        margin-right: 10px;
        &:checked + span::before {
            font-size: 10px;
            content: '\2713';
            display: block;
            text-align: center;
            color: $dark;
            position: absolute;
            left: 3px;
            top: calc(50% - 7px);
        }
    }
}

