.filter-input {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    background-color: theme-color('light-blue');
    border-radius: 5px;
    padding: 5px;
    row-gap: 5px;
    column-gap: 5px;
    position: relative;
    input {
        flex: 1;
        border: none;
        outline: none;
        background-color: transparent;
        &::placeholder {
            color: theme-color('secondary');
        }
    }
    .btn {
        border-radius: 2px;
    }
    .suggestions {
        position: absolute;
        top: 55px;
        left: 0;
        right: 0;
        list-style: none;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
        padding-left: 0;
        z-index: 1;
        li {
            padding-left: 20px;
            height: 32px;
            line-height: 32px;
            cursor: pointer;
            &.active {
                background-color: theme-color('light-blue');
            }
            &:hover {
                background-color: theme-color('light-blue');
            }
        }
    }
}
.filter {
    display: inline-block;
    padding: 4px 8px;
    background-color: white;
    border-radius: 5px;
    color: theme-color('dark');
    border: 1px solid theme-color('mercury');
    button {
        margin-left: 5px;
        padding: 0;
        width: 15px;
        height: 15px;
        background-color: transparent;
        font-weight: bold;
        cursor: pointer;
        border: none;
        outline: none;
    }
}
.clear {
    font-weight: bold;
    padding-bottom: 2px;
    cursor: pointer;
    text-decoration: underline;
}




  