.graph-legend {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    li {
        font-size: 12px;
        display: flex;
        margin: 3px;
        .square {
            min-width: 15px;
            height: 15px;
            display: inline-block;
            border-radius: 2px;
            margin-right: 5px;
        }
        p {
            margin: 0;
            line-height: 14px;
        }
    }
}