.metric-box {
   position: relative;

   &-diffText{
    font-size: 14px;
    position: absolute;
    top: 2px;
    right: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-shadow: 0 0 1px white;
   }

   &-arrowIcon{
     margin-left: 4px;

     &-inverted {
       transform:  rotate(180deg);
     }
   }

   &-font-60 {
     font-size: 60px;
   }
}