.metric-box {
   position: relative;

   &-diffText{
    font-size: 16px;
    position: absolute;
    top: 2px;
    right: 8px;
    display: flex;
    align-items: center;
   }

   &-arrowIcon{
     margin-left: 4px;

     &-inverted {
       transform:  rotate(180deg);
     }
   }
}