.tab {
    font-family: 'Inter';
    margin-right: 40px;
    text-decoration: none;
    span {
      border-bottom: 4px solid white;
    }
    &.active {
        cursor: auto;
        font-family: 'Inter Bold';
        span {
            border-color: theme-color('primary');
        }
    }
}